#collapsibleNavId{margin-left: 5%;border-top: solid 1px #d9d8d8;border-bottom:solid 1px #d9d8d8 }
.top-header{background: black;padding-top:20px;padding-bottom:20px}
.simpleCart_total{color:white;margin-left:80%;  }
.navbar-toggler{margin-left:90%}
.total{margin-left:90%;}
.list-inline{display: flex;margin-left:5%;margin-top:5%;margin-bottom: 5%}
#chucai h3{margin-bottom: 10px}
.chu{border-bottom:solid 1px #d9d8d8}
.container .row{border-top:solid 1px #d9d8d8}
img{border:solid 1px black}
#chucai{margin-right:5%;}
.nav-link{margin-right:30px}
#nuthome{color: dodgerblue}
#hinhvachu{display: flex}