.page-id-1005 {
	background-color: #F3F3F3;
}

/*- Image List 1 (Parkofideas)-*/

.c-image-list-1 {
	font-family: Inter, sans-serif;
	margin:      -30px auto;
	padding:     30px 0;
	overflow:    hidden;
	max-width:   100%;
	position:    relative;
}

.c-image-list-1__list {
	display:         flex;
	justify-content: center;
	flex-wrap:       wrap;
	padding:         0;
	margin:          -15px;
}

.c-image-list-1__item {
	flex:     0 0 160px;
	position: relative;
	display:  block;
	margin:   15px;
}

.c-image-list-1__image {
	width:            100%;
	height:           auto;
	transition:       transform 0.3s ease-out;
	transform-origin: center;
	transform:        scale(1);
	box-shadow:       0 5px 20px 2.4px rgba(0, 0, 0, 0.06) !important;
}

.c-image-list-1__title {
	font-size:   16px;
	font-weight: bold;
	line-height: 1.2;
	position:    relative;
	padding:     20px;
	text-align:  center;
}

.c-image-list-1__desc {
	padding:     0 0 20px 0;
	margin-top:  -10px;
	text-align:  center;
	font-size:   12px;
	line-height: 1.2;
	opacity:     0.5;
}

.c-image-list-1__link,
.c-image-list-1__link:hover,
.c-image-list-1__link:visited,
.c-image-list-1__link:focus {
	color: currentColor;
}

@media (min-width: 1170px) {
	.c-image-list-1__item--hover:hover .c-image-list-1__image {
		box-shadow: none;
		transform:  scale(1.1);
	}
}

@media (max-width: 1169px) {
	.c-image-list-1 {
		overflow: hidden;
	}
}

/*- Image List 2 (Luchiana) -*/

.c-ip-image-list-2 {
	font-family: Inter, sans-serif;
}

.c-ip-image-list-2__list {
	margin:          -35px -25px;
	list-style:      none;
	display:         flex;
	justify-content: center;
	flex-wrap:       wrap;
}

.c-ip-image-list-2__item {
	flex:       0 0 auto;
	padding:    35px 25px;
	max-width:  100%;
	text-align: center;
}

.c-ip-image-list-2__item--3 {
	width: 33.3333%;
}

.c-ip-image-list-2__item--4 {
	width: 25%;
}

/*@media (max-width: 1100px) {*/
@media (max-width: 1280px) {
	.c-ip-image-list-2__item--3 {
		width: 50%;
	}
}

@media (max-width: 1024px) {
	.c-ip-image-list-2__item--4 {
		width: 50%;
	}
}

@media (max-width: 700px) {
	.c-ip-image-list-2__item--3 {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.c-ip-image-list-2__item--4 {
		width: 100%;
	}
}

.c-ip-image-list-2__thumb {
	position:            relative;
	padding-bottom:      97%;
	background-position: center 0;
	background-repeat:   no-repeat;
	background-size:     100%;
}

.c-ip-image-list-2__thumb--shadow {
	box-shadow: 0 49px 109px rgba(0, 0, 0, 0.08);
}

.c-ip-image-list-2__thumb--autoscroll:hover {
	background-position: center 100% !important;
}

.c-ip-image-list-2__title {
	margin-top:     40px;
	font-family:    Inter, sans-serif;
	font-style:     normal;
	font-weight:    normal;
	font-size:      17px;
	line-height:    20px;
	text-align:     center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color:          #000000;
}

.c-ip-image-list-2__button {
	margin-top:       40px;
	cursor:           pointer;
	display:          inline-block;
	text-transform:   uppercase;
	background-color: #000;
	border:           solid 1px #000;
	color:            #FFF;
	font-family:      Inter, sans-serif;
	font-style:       normal;
	font-weight:      400;
	font-size:        14px;
	line-height:      30px;
	text-align:       center;
	letter-spacing:   0.285em;
	padding:          15px 37px;
	transition:       opacity 0.3s linear, visibility 0.3s linear, color 0.15s linear, border-color 0.15s linear, background-color 0.15s linear, box-shadow 0.15s linear;
}

.c-ip-image-list-2__button:hover {
	background-color: #fff;
	color:            #000;
}

.c-ip-image-list-2 a:active .c-ip-image-list-2__button {
	transform: translateY(2px);
}

/*- Icon List 1 (Luchiana) -*/

.c-ip-icon-list-1 {
	font-family: Inter, sans-serif;
	margin:      0 auto;
	max-width:   100%;
	overflow:    hidden;
}

.c-ip-icon-list-1__list {
	display:         flex;
	justify-content: center;
	flex-wrap:       wrap;
	padding:         0;
	margin:          -25px -45px;
	list-style:      none;
}

.c-ip-icon-list-1__item {
	display:    block;
	text-align: center;
	flex:       0 0 310px;
	width:      360px;
	margin:     25px 45px;
	position:   relative;
	transition: background-color 0.3s ease-out;
}

.c-ip-icon-list-1__icon {
	font-size:     40px;
	line-height:   1;
	height:        40px;
	margin-bottom: 35px;
}

.c-ip-icon-list-1 svg:not(.c-ip-icon-list-1__romb) {
	fill:          currentColor;
	stroke:        none;
	margin-bottom: 17px;
}

.c-ip-icon-list-1__title {
	display:        block;
	font-weight:    normal;
	font-size:      22px;
	line-height:    30px;
	letter-spacing: 0.14em;
	padding-left:   0.14em;
	text-transform: uppercase;
	margin-bottom:  15px;
	position:       relative;
}

.c-ip-icon-list-1__romb {
	display:       inline-block;
	width:         5px;
	height:        7px;
	line-height:   7px;
	font-size:     7px;
	margin-bottom: 10px;
}

.c-ip-icon-list-1__description {
	font-weight:    300;
	font-size:      16px;
	line-height:    30px;
	letter-spacing: 0.015em;
	opacity:        0.7;
}

.c-ip-icon-list-1__button {
	margin-top: 35px;
}

/*-- Icon List 1 (Desktop) --*/

@media (min-width: 1190px) {

	/*.c-ip-image-list-2__item--border:hover .c-ip-image-list-2__thumb {
		transform: translateY(-10px);
	}*/
	.c-ip-image-list-2__item--border .c-ip-image-list-2__thumb {
		position: relative;
	}

	.c-ip-image-list-2__item--border .c-ip-image-list-2__thumb:after {
		content:    '';
		position:   absolute;
		left:       -1px;
		right:      -1px;
		top:        -1px;
		bottom:     -1px;
		border:     solid 1px transparent;
		transition: border-color 0.15s linear;
	}

	.c-ip-image-list-2__item--border:hover .c-ip-image-list-2__thumb:after {
		border-color: #000;
	}
}

/*-- Icon List 1 (Mobile) --*/

@media (max-width: 1189px) {

}


/*- Buttons -*/

.c-ip-button {
	font-family: Inter, sans-serif;
	max-width:   100%;
}

.c-ip-button:visited,
.c-ip-button:focus {
	color: white;
}

.c-ip-button__icon {
	display:        inline-block;
	vertical-align: middle;
}

.c-ip-button__icon--left {
	margin-right: 8px;
}

.c-ip-button__icon--right {
	margin-left: 8px;
}

.elementor-align-justify.elementor-widget-ideapark-button .c-ip-button {
	width: 100%;
}


.c-button {
	display:            inline-block;
	outline:            none;
	font-weight:        400;
	font-size:          12px;
	line-height:        1.2;
	text-align:         center;
	letter-spacing:     0.265em;
	text-indent:        -0.265em;
	direction:          rtl;
	text-transform:     uppercase;
	padding:            17px 30px 17px 30px;
	color:              white;
	border:             solid 1px #000;
	text-decoration:    none !important;
	background-color:   #000;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	cursor:             pointer;
}

.c-button--big {
	font-size:      14px;
	letter-spacing: 0.285em;
	padding-top:    21px;
	padding-bottom: 21px;
}

.c-button--outline {
	background-color: transparent !important;
	color:            #000 !important;
}

.c-button--outline-white {
	background-color: transparent !important;
	border-color:     white !important;
	color:            white !important;
}


.c-button--outline:not(:disabled):hover {
	background-color: #000 !important;
	border-color:     #000 !important;
	color:            white !important;
	opacity:          1 !important;
}

.c-button--outline-white:not(:disabled):hover {
	background-color: white !important;
	border-color:     white !important;
	color:            #000 !important;
	opacity:          1 !important;
}

.c-button:hover {
	background-color: #FFF;
	border-color:     #fff;
	color:            currentColor;
}

.c-button:focus {
	outline: none;
}

.c-button:active {
	transform: translateY(2px);
}

.c-button--full {
	width: 100%;
}

.h-link-yes {
	cursor: pointer;
}